{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="well">
            <h1>Welcome to Tritch</h1>
            <h3>Tracking Twitch</h3>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
