<div class="well well-lg">
  <h1>Welcome to Tritch</h1>
  <h2>It's never been so easy to get Twitch insights!</h2>

  <h3>Go start tracking Twitch!</h3>
  <p>
    Have you ever wondered how your channel stacks up against others? <br>
    Do you want to know when which viewers tune in? When they turn you off and why?
  </p>

  <h3>Start tracking your Twitch channel with Tritch now!</h3>
  <p>
    Get valuable insights, see who you're up against and why you're not a famous streamer yet! <br>
    Or even better: make sure you stay on top of the game by optimizing your streaming times, contents and increase revenue by tailoring your ads to your viewership!
  </p>

  <div class="col-6 text-center">
    <%= link_to 'Log in!', root_path, class: "btn btn-lg btn-primary" %>
    <%= link_to 'Sign up!', root_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>